header {
    width: 100%;
    height: 120px;
    background-color:  rgba(39, 25, 247, 0.253);
    border-radius: 10px;
    padding-top: 10px;
}
header img {
    padding-left: 300px;
    width: 330px;
    height: 100px;
    float: left;
}

body {
    margin: 0;
    background-color:  rgba(39, 25, 247, 0.253);
}

nav {
    padding-right: 36px;
    margin: auto;
    text-align: center;
    margin: 0 auto;
}

nav li:hover {
    background-color:  rgba(39, 25, 247, 0.253);
    font-size: 35px;
}

a {
    text-decoration: none;
    color: black;
}

nav li {
    text-decoration: none;
    display: inline-block;
    background-color: white;
    width: 317px;
    height: auto;
    padding: 10px 0;
    font-size: 30px;
    border: 0.5px solid black;
}

h2 {
    border-radius: 15px;
    width: 140px;
    margin: auto;
    text-align: center;
    background-color:  rgba(39, 25, 247, 0.253);
}

nav li.active {
    background-color: rgb(2, 234, 255);
}

.block1 {
    margin-top: 20px;
    padding: 10px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color:  rgba(39, 25, 247, 0.253);
    border-radius: 10px;
}

a {
    text-decoration: none;
}

.block2 {
    padding: 10px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color:  rgba(39, 25, 247, 0.253);
    border-radius: 10px;
}

table {
    width: 960px;
    margin: auto;
    background-color:  rgba(39, 25, 247, 0.253);
    border-radius: 10px;
}

table td {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

table th {
    border-right: 2px solid rgb(255, 255, 255);
    padding: 15px;
}

.nechet td {
    color: rgb(255, 255, 255);
    background-color: rgb(10, 0, 0);
}

.block {
    padding: 10px;
    width: 960px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(39, 25, 247, 0.253);
    border-radius: 10px;
    padding-bottom: 10px;
}

input[type=text],
input[type=email],
input[type=date] {
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid  rgba(39, 25, 247, 0.253);
    border-radius: 4px;
}

input[type=radio] {
    padding: 12px 20px;
}

input[type=date] {
    border: 1px solid rgba(39, 25, 247, 0.253)
}

select option {
    padding: 5px;
    border-bottom: 1px solid rgba(39, 25, 247, 0.253);
}

textarea {
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    resize: none;
    border: 1px solid rgba(39, 25, 247, 0.253)
}

footer {
    width: 100%;
    height: 130px;
    background-color:  rgba(39, 25, 247, 0.253);
    border-radius: 10px;
}

footer h1 {
    width: 100%;
    margin: 0;
    text-align: center;
}

footer img {
    width: 10px;
    height: 200px;
}

table td {
    text-align: center;
}


